.picture {
    position: relative;
    width: 100%;
    max-height: 223px;
    border-radius: 25px;
    margin-bottom: 43px;
  }
  
  .pictureImg {
    width: 100%;
    height: auto;
    border-radius: 25px;
    max-height: 223px;
  }
  
  .darkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 25px;
  }
  
  .pictureText {
    position: absolute;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }